.dropdown {
  position: relative;
  margin: 5px 10px;
}

.dropdown button {
  background-color: lightgray;
  padding: 5px;
  width: 120px;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
}

.dropdown button svg {
  float: right;
}

.dd-list {
  position: absolute;
  top: 100%;
  background-color: lightgray;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.dd-list-item {
  position: relative;
  border: solid 1px black;
  border-bottom: none;
}

.dd-list-item:last-of-type {
  border-bottom: solid 1px black;
}

.dd-list-item label {
  display: block;
  padding: 5px 20px 5px 35px;
}

.dd-list-item input {
  position: absolute;
  top: 5px;
  left: 10px;
}